<div class="card p-3 m-0 shadow border-0">
    <h1 class="text-center titreDash fw-bold mb-4">Liste des porteurs de projet</h1>
    

    <div class="contentPorteur">
        <div class="search">
            <div class="input-group w-25 mb-3">
                <input type="text" class="form-control inputPorteur" placeholder="Chercher un porteur de projet">
                <span class="input-group-text iconsearch" id="basic-addon1"><i class="bi bi-search"></i></span>
            </div>
        </div>

        <!-- table porteurs -->
        <div class="table-data container-fluid" id="container-table">
            <div class="order p-0">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Nom complet</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ligne-table">
                            <th><img class="img-fluid profilPorteur" src="../../../assets/images/bannieres/ban5.jpg" alt=""></th>
                            <td class="tableInfo">Mark Otto</td>
                            <td class="tableInfo">markotto@gmail.com</td>
                            <td class="tableInfo">76 456 34 45</td>
                            <td class="d-flex tableIcons border-0">
                                <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#detailPorteur"><i class="bi bi-eye-fill i1"></i></button>
                                <button class="btn btn-danger p-O"><i class="bi bi-x-square-fill i2"></i></button>
                                <!-- <button class="btn btn-warning p-O"><i class="bi bi-power i3"></i></button> -->
                            </td>
                        </tr>
                        <tr class="ligne-table">
                            <th><img class="img-fluid profilPorteur" src="../../../assets/images/bannieres/ban5.jpg" alt=""></th>
                            <td class="tableInfo">Mark Otto</td>
                            <td class="tableInfo">markotto@gmail.com</td>
                            <td class="tableInfo">76 456 34 45</td>
                            <td class="d-flex tableIcons border-0">
                                <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#detailPorteur"><i class="bi bi-eye-fill i1"></i></button>
                                <button class="btn btn-danger p-O"><i class="bi bi-x-square-fill i2"></i></button>
                                <!-- <button class="btn btn-warning p-O"><i class="bi bi-power i3"></i></button> -->
                            </td>
                        </tr>
                        <tr class="ligne-table">
                            <th><img class="img-fluid profilPorteur" src="../../../assets/images/bannieres/ban5.jpg" alt=""></th>
                            <td class="tableInfo">Mark Otto</td>
                            <td class="tableInfo">markotto@gmail.com</td>
                            <td class="tableInfo">76 456 34 45</td>
                            <td class="d-flex tableIcons border-0">
                                <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#detailPorteur"><i class="bi bi-eye-fill i1"></i></button>
                                <button class="btn btn-danger p-O"><i class="bi bi-x-square-fill i2"></i></button>
                                <!-- <button class="btn btn-warning p-O"><i class="bi bi-power i3"></i></button> -->
                            </td>
                        </tr>
                        <tr class="ligne-table">
                            <th><img class="img-fluid profilPorteur" src="../../../assets/images/bannieres/ban5.jpg" alt=""></th>
                            <td class="tableInfo">Mark Otto</td>
                            <td class="tableInfo">markotto@gmail.com</td>
                            <td class="tableInfo">76 456 34 45</td>
                            <td class="d-flex tableIcons border-0">
                                <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#detailPorteur"><i class="bi bi-eye-fill i1"></i></button>
                                <button class="btn btn-danger p-O"><i class="bi bi-x-square-fill i2"></i></button>
                                <!-- <button class="btn btn-warning p-O"><i class="bi bi-power i3"></i></button> -->
                            </td>
                        </tr>
                        <tr class="ligne-table">
                            <th><img class="img-fluid profilPorteur" src="../../../assets/images/bannieres/ban5.jpg" alt=""></th>
                            <td class="tableInfo">Mark Otto</td>
                            <td class="tableInfo">markotto@gmail.com</td>
                            <td class="tableInfo">76 456 34 45</td>
                            <td class="d-flex tableIcons border-0">
                                <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#detailPorteur"><i class="bi bi-eye-fill i1"></i></button>
                                <button class="btn btn-danger p-O"><i class="bi bi-x-square-fill i2"></i></button>
                                <!-- <button class="btn btn-warning p-O"><i class="bi bi-power i3"></i></button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="pagin d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        
        </div>
    </div>
</div>











<!-- Modal detail bailleur -->
<div class="modal fade" id="detailPorteur" tabindex="-1" aria-labelledby="detailPorteurLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end border-0">
                <button type="button" class="btn btnCloseBail" data-bs-dismiss="modal"><i
                        class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body py-3 px-5">
                <div class="headBailleur d-flex row px-4">
                    <div class="profilBailleur col-12 col-md-3 p-0">
                        <div class="rect rect1"></div>
                        <img class="imgBailleur img-fluid h-100" src="../../../assets/images/bailleur.jpg" alt="">
                        <div class="rect rect2"></div>
                    </div>
                    <div class="coordsBailleur col-12 col-md-9 px-5">
                        <h2 class="fw-bold nomBail">Alpha Diallo</h2>
                        <div class="detaiBailleur">
                            <h4 class="fw-bold coords">Coordonnées:</h4>
                            <p><i class="bi bi-envelope-fill"></i> alpha@gmail.com</p>
                            <p><i class="bi bi-telephone-fill"></i> 78 345 76 65</p>
                        </div>
                        <div class="sociaux">
                            <div class="iconSociaux d-flex justify-content-end">
                                <span class="me-2"><i class="bi bi-facebook"></i></span>
                                <span><i class="bi bi-whatsapp"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <p class="biography">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus, consectetur cum labore a dignissimos saepe pariatur aut fugit, iusto aliquam
                        doloremque amet.
                        Veritatis dolor voluptatem eius ea, impedit harum deserunt!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus, consectetur cum labore a dignissimos saepe pariatur aut fugit, iusto aliquam
                        doloremque amet.
                    </p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btnBailleurClose px-3 text-white"  data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>