<div class="footer m-0
 container-fluid border">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
            <div class="col-12 col-md-5">
                <a href="/" class="d-flex align-items-center mb-3" routerLink="/accueil">
                    <img class="logoFooter" src="../../assets/images/logo-ci-la-bokk.png" alt="">
                </a>
                <p class="text-white">
                    Investissez avec Assurance, Innovez avec Clarté CilaaBook, <br> Votre Partenaire dans le Succès
                </p>
            </div>

            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h5 class="text-white titreFooter mb-3">Pages</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link footerLink p-0 text-white" routerLink="/apropos">A propos</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link footerLink p-0 text-white" routerLink="/projet">Projets</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link footerLink p-0 text-white" routerLink="/blog">Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4">
                        <h5 class="text-white titreFooter mb-3">Liens utiles</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white footerLink" routerLink="/condition-utilisation">Contions
                                    d'utilisation</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white footerLink" routerLink="/politique-confidentialite">Politiques de
                                    confidentialité</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4">
                        <h5 class="text-white titreFooter mb-3">Contact</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white footerLink">(+221) 77 777 77
                                    77</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white footerLink">cilabokk@gmail.com</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white footerLink">Dakar, Sénégal</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    <div class="design row">
        <div class="rect-footer rect-footer1 col-4"></div>
        <div class="iconesFooter py-3 col-4">
            <ul class="iconeListe mx-5">
                <li><a href=""><i class="bi bi-facebook"></i></a></li>
                <li><a href=""><i class="bi bi-twitter"></i></a></li>
                <li><a href=""><i class="bi bi-linkedin"></i></a></li>
                <li><a href=""><i class="bi bi-instagram"></i></a></li>
            </ul>
        </div>
        <div class="rect-footer rect-footer2 col-4"></div>
    </div>
</div>