<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<section class="hero-section">
    <div class="hero">
        <h2 class="fw-bold ">Investir, Innover, Connecter : <br>Bienvenue sur Cila Book</h2>
        <p class="text-white">
            Investissez avec Assurance, Innovez avec Clarté <br>CilaaBook, Votre Partenaire dans le Succès
        </p>
        <div class="buttons">
            <a class="join text-dark rounded-5" routerLink="/inscriptionBailleur">Je suis Bailleur</a>
            <a href="#" class="learn" routerLink="/inscriptionPorteur">Je suis porteur de projet</a>
        </div>
    </div>
    <div class="img">
        <img src="../../../assets/images/img-bannier-accueil.png" alt="hero image" />
    </div>
</section>
<!-- Debut de la section a propos -->
<section>
    <div class="m-auto mt-5" id="container">
        <div class="contain-apropos">
            <div class="card-left">
                <div class="titre d-flex">
                    <h3 class="fw-bold ">A propos de cilaabok</h3>
                    <span class="tiret"></span>
                </div>
                <p class="slogan">
                    Trouvez, Investissez,<br> Réussissez avec Cila Book
                </p>
            </div>
            <div class="card-right">
                <p>
                    Cila Book est une plateforme novatrice dédiée à la rencontre harmonieuse entre les bailleurs de fonds et les porteurs de
                    projets. Face au défi que représentent les aspirations financières des investisseurs en quête d'opportunités
                    prometteuses et les ambitions des porteurs de projets nécessitant des ressources, Cila Book émerge comme un facilitateur
                    incontournable.
                </p>
                <button type="button" class="btn btn-outline">Nous découvrir</button>
            </div>
        </div>
        <div class="contain-image mt-3 ">
            <div class="col1">
                <img src="../../../assets/images/Rectangle 20.png" alt="">
            </div>
            <div class="col1">
                <img src="../../../assets/images/Rectangle 21.png" alt="">
            </div>
            <div class="col1">
                <img src="../../../assets/images/Rectangle 22.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Debut de la section partenaire -->
<section>
    <div class="contain-partenaire mt-5">
        <h3 class="text-center fw-bold ">Partenariats d'Impact : Les Forces Conjuguées de CilaaBook</h3>
        <div class="contain-card mb-5 mt-5">
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 27.png" alt="">
                <p>Simplon Senegal</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 29.png" alt="" style="width:65px;">
                <p>Federation de Wallonie-Bruxelle</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 30.png" alt="">
                <p>Francophonie</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            
        </div>
    </div>
</section>

<!-- Debut de la section Blog -->
<section id="bg-section" class="mb-5 py-5">
    <div class="contain-blog">
        <div class="titre d-flex">
            <h3 class="fw-bold ">Tenez-vous à jour</h3>
            <span class="tiret"></span>
            <button type="button" class="btn btn-outline ">Voirs plus</button>
        </div>
        <p class="fw-bold ">Nos dernières informations et actualités</p>
        <div class="contain-card-blog">
            <div class="contain-card2">
                <div class="card">
                    <img src="https://img.freepik.com/photos-gratuite/smiley-femme-tir-complet-tenant-tablette_23-2149894712.jpg?w=826&t=st=1702037163~exp=1702037763~hmac=09a1131237a1b454ce522e2ced8ba7720fc63e6bfc8703779ec1134ef6c8bcb9"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="entete-card d-flex justify-content-between ">
                            <h5 class="card-title">Lorem ipsum dolor sit</h5>
                            <a href=""><i class="bi bi-arrow-up-right-circle" style="color: #E75761;"></i></a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur. Blandit tortor sed odio odio nec tellus augue cursus lorem. Massa diam purus in
                        sed eget.
                        </p>
                        
                    </div>
                </div>
                <div class="card">
                    <img src="https://img.freepik.com/photos-gratuite/smiley-femme-tir-complet-tenant-tablette_23-2149894712.jpg?w=826&t=st=1702037163~exp=1702037763~hmac=09a1131237a1b454ce522e2ced8ba7720fc63e6bfc8703779ec1134ef6c8bcb9"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="entete-card d-flex justify-content-between ">
                            <h5 class="card-title">Lorem ipsum dolor sit</h5>
                            <a href=""><i class="bi bi-arrow-up-right-circle" style="color: #E75761;"></i></a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur. Blandit tortor sed odio odio nec tellus augue cursus lorem. Massa diam purus in
                        sed eget.
                        </p>  
                    </div>
                </div>
                <div class="card">
                    <img src="https://img.freepik.com/photos-gratuite/smiley-femme-tir-complet-tenant-tablette_23-2149894712.jpg?w=826&t=st=1702037163~exp=1702037763~hmac=09a1131237a1b454ce522e2ced8ba7720fc63e6bfc8703779ec1134ef6c8bcb9"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="entete-card d-flex justify-content-between ">
                            <h5 class="card-title">Lorem ipsum dolor sit</h5>
                            <a href=""><i class="bi bi-arrow-up-right-circle" style="color: #E75761;"></i></a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur. Blandit tortor sed odio odio nec tellus augue cursus lorem. Massa diam purus in
                        sed eget.
                        </p>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<!-- Debut de la section projet -->
<section id="section-projet" class="mb-2">
    <div class="titre d-flex">
        <h3 class="fw-bold ">Nos projets</h3>
        <span class="tiret"></span>
    </div>
    <p class="fw-bold ">Decouvrez quelques unes une de nos projets</p>
    <div class="contain-projet">
        <div class="col-projet">
            <div class="card shadow-sm ">
                <img src="https://img.freepik.com/photos-gratuite/smiley-femme-tir-complet-tenant-tablette_23-2149894712.jpg?w=826&t=st=1702037163~exp=1702037763~hmac=09a1131237a1b454ce522e2ced8ba7720fc63e6bfc8703779ec1134ef6c8bcb9"
                    class="card-img" alt="..." >
                <div class="card-body">
                    <h5 class="card-title text-center">Walkers for Kids</h5>
                    <p class="card-text" id="desc">Lorem ipsum dolor sit amet consectetur. Eget faucibus euismod leo condimentum nisl feugiat pulvinar est nullam. Enim
                    pulvinar dictumst donec sed viverra felis id. Eu nulla quis aliquet vestibulum a aenean a cursus. Consequat fringilla
                    vitae gravida euismod metus felis gravida neque nulla.
                    </p>
                    <p>Jean Sambou</p>
                    <button class="btn-detail mb-3">Voir plus</button>
                </div>
            </div>
        </div>
        <div class="col-projet">
            <div class="card shadow-sm ">
                <img src="https://img.freepik.com/photos-gratuite/smiley-femme-tir-complet-tenant-tablette_23-2149894712.jpg?w=826&t=st=1702037163~exp=1702037763~hmac=09a1131237a1b454ce522e2ced8ba7720fc63e6bfc8703779ec1134ef6c8bcb9"
                    class="card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Walkers for Kids</h5>
                    <p class="card-text" id="desc">Lorem ipsum dolor sit amet consectetur. Eget faucibus euismod leo condimentum
                        nisl feugiat pulvinar est nullam. Enim
                        pulvinar dictumst donec sed viverra felis id. Eu nulla quis aliquet vestibulum a aenean a cursus. Consequat
                        fringilla
                        vitae gravida euismod metus felis gravida neque nulla.
                    </p>
                    <p>Jean Sambou</p>
                    <button class="btn-detail mb-3">Voir plus</button>
                </div>
            </div>
        </div>
        <div class="col-projet">
            <div class="card shadow-sm ">
                <img src="https://img.freepik.com/photos-gratuite/smiley-femme-tir-complet-tenant-tablette_23-2149894712.jpg?w=826&t=st=1702037163~exp=1702037763~hmac=09a1131237a1b454ce522e2ced8ba7720fc63e6bfc8703779ec1134ef6c8bcb9"
                    class="card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Walkers for Kids</h5>
                    <p class="card-text" id="desc">Lorem ipsum dolor sit amet consectetur. Eget faucibus euismod leo condimentum
                        nisl feugiat pulvinar est nullam. Enim
                        pulvinar dictumst donec sed viverra felis id. Eu nulla quis aliquet vestibulum a aenean a cursus. Consequat
                        fringilla
                        vitae gravida euismod metus felis gravida neque nulla.
                    </p>
                    <p>Jean Sambou</p>
                    <button class="btn-detail mb-3">Voir plus</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- newsletter -->
<div class="contain-newsletter mb-5">
    <h4 class="text-center text-white titre-news">Abonnez-vous à notre newsletter pour des infos <br> exclusives</h4>
    <div class="contain-input mt-5">
        <input type="text" placeholder="Entez votre adresse email">
        <button class="btn">S'inscrire</button>
    </div>
</div>




<!-- footer -->
<app-footer></app-footer>
