<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<h1 class="text-center my-4">Condition d'utilisation</h1>
<p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptate eveniet unde rem dolores quas deleniti
    dicta. Quod, exercitationem ipsa? Fuga labore porro ut quam tempora magni similique deserunt ea et unde nisi error a
    eaque eius placeat vitae omnis mollitia dicta quibusdam quia, iusto maxime alias vero incidunt! Aspernatur,
    architecto magni aliquid, dolorem molestias ipsa, porro facilis odio ratione quasi excepturi? Illo quasi
    consequuntur nostrum animi odit dicta maiores delectus accusantium inventore mollitia? Dignissimos earum explicabo
    reiciendis officia. A quisquam sapiente cupiditate omnis cum ratione maxime laudantium quos dolorum temporibus fuga
    autem praesentium culpa voluptas repellat mollitia accusantium, eligendi porro voluptates asperiores, distinctio
    aliquam dolores. Pariatur repudiandae, eveniet suscipit id dolorum distinctio quasi veniam sunt quas. Dignissimos
    modi, exercitationem commodi, beatae eius consequuntur ex aspernatur similique ipsum repellat quidem! Laudantium
    ipsa temporibus eligendi id iusto error voluptatem, qui illo consectetur eveniet officiis. Eligendi possimus dolores
    quae vero nemo deleniti similique sit amet fuga nulla ipsam sunt odio quo consequatur alias at quisquam, illo,
    tenetur eos impedit tempora iure voluptatem qui quia! Sit odit perferendis eum sequi quidem cumque aspernatur,
    aperiam nobis saepe totam reiciendis molestias possimus, suscipit iure! Excepturi nulla praesentium quia at
    doloremque velit, itaque quas ab reiciendis!
</p>
<p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptate eveniet unde rem dolores quas deleniti
    dicta. Quod, exercitationem ipsa? Fuga labore porro ut quam tempora magni similique deserunt ea et unde nisi error a
    eaque eius placeat vitae omnis mollitia dicta quibusdam quia, iusto maxime alias vero incidunt! Aspernatur,
    architecto magni aliquid, dolorem molestias ipsa, porro facilis odio ratione quasi excepturi? Illo quasi
    consequuntur nostrum animi odit dicta maiores delectus accusantium inventore mollitia? Dignissimos earum explicabo
    reiciendis officia. A quisquam sapiente cupiditate omnis cum ratione maxime laudantium quos dolorum temporibus fuga
    autem praesentium culpa voluptas repellat mollitia accusantium, eligendi porro voluptates asperiores, distinctio
    aliquam dolores. Pariatur repudiandae, eveniet suscipit id dolorum distinctio quasi veniam sunt quas. Dignissimos
    modi, exercitationem commodi, beatae eius consequuntur ex aspernatur similique ipsum repellat quidem! Laudantium
    ipsa temporibus eligendi id iusto error voluptatem, qui illo consectetur eveniet officiis. Eligendi possimus dolores
    quae vero nemo deleniti similique sit amet fuga nulla ipsam sunt odio quo consequatur alias at quisquam, illo,
    tenetur eos impedit tempora iure voluptatem qui quia! Sit odit perferendis eum sequi quidem cumque aspernatur,
    aperiam nobis saepe totam reiciendis molestias possimus, suscipit iure! Excepturi nulla praesentium quia at
    doloremque velit, itaque quas ab reiciendis!
</p>

<p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptate eveniet unde rem dolores quas deleniti
    dicta. Quod, exercitationem ipsa? Fuga labore porro ut quam tempora magni similique deserunt ea et unde nisi error a
    eaque eius placeat vitae omnis mollitia dicta quibusdam quia, iusto maxime alias vero incidunt! Aspernatur,
    architecto magni aliquid, dolorem molestias ipsa, porro facilis odio ratione quasi excepturi? Illo quasi
    consequuntur nostrum animi odit dicta maiores delectus accusantium inventore mollitia? Dignissimos earum explicabo
    reiciendis officia. A quisquam sapiente cupiditate omnis cum ratione maxime laudantium quos dolorum temporibus fuga
    autem praesentium culpa voluptas repellat mollitia accusantium, eligendi porro voluptates asperiores, distinctio
    aliquam dolores. Pariatur repudiandae, eveniet suscipit id dolorum distinctio quasi veniam sunt quas. Dignissimos
    modi, exercitationem commodi, beatae eius consequuntur ex aspernatur similique ipsum repellat quidem! Laudantium
    ipsa temporibus eligendi id iusto error voluptatem, qui illo consectetur eveniet officiis. Eligendi possimus dolores
    quae vero nemo deleniti similique sit amet fuga nulla ipsam sunt odio quo consequatur alias at quisquam, illo,
    tenetur eos impedit tempora iure voluptatem qui quia! Sit odit perferendis eum sequi quidem cumque aspernatur,
    aperiam nobis saepe totam reiciendis molestias possimus, suscipit iure! Excepturi nulla praesentium quia at
    doloremque velit, itaque quas ab reiciendis!
</p>
<!-- footer -->
<app-footer></app-footer>