@import url(../../admin/dashboard-admin/dashboard-admin.component.css);

.titreDash {
    color: #308AA7;
}

.search {
    display: flex;
    justify-content: end;
}

.iconSociaux span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSociaux span i{
    font-size: 25px;
    color: #E75761;
}

.iconsearch {
    background-color: #E75761;
}

.iconsearch i {
    color: white;
}

.inputPorteur {
    border: 1px solid #E75761 !important;
}

.tableIcons button {
    margin-left: 5px;
    margin-right: 5px;
}

.tableIcons button i {
    color: white;
}

.pagination li {
    border: none;
}

.pagination li a {
    color: black;
    cursor: pointer;
}

.pagination .active a {
    background-color: #E75761;
    color: white;
}

.profilPorteur {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ligne-table {
    height: 30px;
}

.tableInfo {
    padding-top: 20px;
}

.btnCloseBail{
    background-color: #E75761;
    border-radius: 50%;
}

.btnCloseBail i{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nomBail{
    margin-bottom: 40px;
    color: #308AA7;
}

.coords i{
    color: #E75761 !important;
    font-size: 20px;
}


.rect{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #E75761 !important;
    z-index: -1;
}

.rect1{
    top: -20px;
    right: -20px;
}

.rect2{
    bottom: -20px;
    left: -20px;
}

.profilBailleur{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    /* overflow: hidden; */
    z-index: 1;
}

.imgBailleur{
    /* height: 100%; */
    width: 100%;
}
.sociaux span {
    width: 60px;
    height: 60px;
    border: 2px solid #E75761;
    padding: 2%;
    border-radius: 50%;
}

.biography{
    text-align: justify;
}

.btnBailleurClose{
    background-color: #E75761;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

.detailBailleur p i{
    color: #E75761;
    font-size: 18px;
    margin-right: 5px;
}

.DetailBailleur .sociaux{
    display: flex;
    justify-content: end;
}

.coords{
    color: #E75761;
}

/* Css import */