<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- formulaire d'inscription du bailleur -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img"
                        style="background-image: url(https://img.freepik.com/photos-premium/sa-joie-brille-interieur-photo-jeune-femme-affaires-faisant-pause-dans-son-bureau_590464-2170.jpg?w=900);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Inscription</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form action="#" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="nom">Prenom & Nom</label>
                                <input type="text" class="form-control" placeholder="Nom" required name="nom"
                                    [(ngModel)]="nom">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="email">Email</label>
                                <input type="text" class="form-control" placeholder="Email" required name="email"
                                    [(ngModel)]="email">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Mot de passe</label>
                                <input type="password" class="form-control" placeholder="mot de passe" required
                                    name="password" [(ngModel)]="password">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="telephone">Telephone</label>
                                <input type="text" class="form-control" placeholder="Telephone" required
                                    name="telephone" [(ngModel)]="telephone">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="prenom">Organisation</label>
                                <select [(ngModel)]="organisation" class="form-select" aria-label="Default select example">
                                    <option selected>vous etes...</option>
                                    <option value="1">Organisme</option>
                                    <option value="2">ONG</option>
                                    <option value="3">Particullier</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="prenom">Image</label>
                                <input type="text" class="form-control" id="inputGroupFile02" required name="image"
                                    [(ngModel)]="image">
                            </div>
                            <div class="mb-4">
                                <label for="inputDescription" class="form-label fw-bold">Description</label>
                                <div class="form-floating">
                                    <textarea [(ngModel)]="description" class="form-control" placeholder="description" name="description"
                                        id="description"></textarea>
                                </div>
                            </div>
                            <input type="hidden" value="Bailleur" name="role" [(ngModel)]="role" />
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3 fw-bold "
                                    (click)="inscription()">S'incrire</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>