<!-- debut Liste des messages des contacts -->
<h3 class="fw-bold text-center titremere-contact my-3">La liste de vos messages</h3>
<div class="row gap-2">
    <div class="col-sm-12 col-lg-12 col-lg-12">
        <div class="card">
            <div class="card-header titre-carte-contact">
              Rare Diallo
            </div>
            <div class="card-body">
              <h5 class="card-title email-carte-contact">rarediallo@gmail.com</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quaerat mollitia consequuntur omnis expedita aliquid, aut, in hic, pariatur repellendus ea provident recusandae vero! Laboriosam perferendis minus ipsa recusandae voluptatem!
              </p>
            </div>
        </div>
    </div>
</div>
<!-- pagination -->
<div class="pagin d-flex justify-content-center my-4">
  <nav aria-label="Page navigation example">
      <ul class="pagination">
          <li class="page-item">
              <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item">
              <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      </ul>
  </nav>
</div>
<!-- pagination -->

  <!-- fin Liste des messages des contacts-->
