<!-- Header -->
<app-header class="sticky-top"></app-header>

<section class="hero-section">
    <div class="imgheader">
        <img src="https://t3.ftcdn.net/jpg/06/35/66/24/240_F_635662466_DxjQgCeCCcEEJ2pQQ8fvBqnqT3VZoUOZ.jpg" alt="">
    </div>
</section>
<!-- main -->

<section class="container">
    <div class="card">
        <div class="card_imagen">
            <!-- <p>cart-imagen</p> -->
            <img
                src="https://img.freepik.com/photos-premium/midsection-blogueuse-utilisant-ordinateur-portable-table-dans-cafe_1048944-656572.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph">
        </div>
        <div class="card_content">
            <h2>Internet et reseau</h2>
            <p>Marvel at the imposing beauty of the cliffs that rise above the ocean, defying the passage of time.</p>
            <button class="btn" id="btndetails" data-bs-toggle="modal" data-bs-target="#modalDetailProjet">Voir
                plus</button>
        </div>
    </div>
    <div class="card">
        <div class="card_imagen">
            <img
                src="https://img.freepik.com/photos-premium/midsection-blogueuse-utilisant-ordinateur-portable-table-dans-cafe_1048944-656572.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph">
        </div>
        <div class="card_content">
            <h2>Internet et reseau</h2>
            <p>Marvel at the imposing beauty of the cliffs that rise above the ocean, defying the passage of time.</p>
            <button class="btn" id="btndetails" data-bs-toggle="modal" data-bs-target="#modalDetailProjet">Voir
                plus</button>
        </div>
    </div>
    <div class="card">
        <div class="card_imagen">
            <img
                src="https://img.freepik.com/photos-premium/midsection-blogueuse-utilisant-ordinateur-portable-table-dans-cafe_1048944-656572.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph">
        </div>
        <div class="card_content">
            <h2>Le secteur du E-commerce</h2>
            <p>Discover the hidden jewels of the coast, where you will find virgin and lonely beaches that invite you to
                disconnect from the world and enjoy the connection with nature.</p>
            <button class="btn" id="btndetails" data-bs-toggle="modal" data-bs-target="#modalDetailProjet">Voir
                plus</button>
        </div>
    </div>
</section>
<!-- modal details blocs -->
<div class="modal  modal-lg" tabindex="-1" id="modalDetailProjet">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0 ">
                <h5 class="modal-title col-12 text-center ">Detail Blocs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://img.freepik.com/photos-gratuite/homme-femme-afro-americains-travaillant-equipe-pour-faire-rapport-presentation-regardant-donnees-ordinateur-papiers-travailler-paperasse-au-bureau-pendant-coucher-du-soleil_482257-46942.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h6 class="fw-bold ">Titre:</h6>
                                <h6 class="fw-bold ">categorie:</h6>
                                <h6 class="fw-bold ">Duree:</h6>
                                <h6 class="fw-bold ">cout:</h6>
                                <h6 class="fw-bold ">Description:</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer. Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quia qui culpa dicta quidem libero. Facilis.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis a at maxime,
                                    enim eos iusto. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum
                                    repudiandae nesciunt id numquam. Facilis alias, aperiam sapiente corrupti eos
                                    praesentium cumque, beatae iure, non numquam cum perspiciatis! Delectus, id
                                    consequatur facere sint laboriosam voluptate voluptas sunt minus molestiae iste
                                    exercitationem.</p>
                                <p class="card-text">
                                    <button class="btn btn-modif">Proposer</button>

                                    <button class="btn btn-sup ms-2">Annuler</button>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h6 class="fw-bold ">Titre:</h6>
                                <h6 class="fw-bold ">categorie:</h6>
                                <h6 class="fw-bold ">Duree:</h6>
                                <h6 class="fw-bold ">cout:</h6>
                                <h6 class="fw-bold ">Description:</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer. Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quia qui culpa dicta quidem libero. Facilis.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis a at maxime,
                                    enim eos iusto. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum
                                    repudiandae nesciunt id numquam. Facilis alias, aperiam sapiente corrupti eos
                                    praesentium cumque, beatae iure, non numquam cum perspiciatis! Delectus, id
                                    consequatur facere sint laboriosam voluptate voluptas sunt minus molestiae iste
                                    exercitationem.</p>
                                <p class="card-text">
                                    <button class="btn btn-modif">Proposer</button>

                                    <button class="btn btn-sup ms-2">Annuler</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<app-footer></app-footer>