<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<section class="container" id="sectiondetails">
    <h1 class="text-center my-4">Toute l'actualité de l'entreprenariat</h1>
    <div class="headdiv">
        <div class="retour">
            <i class="bi bi-arrow-left-circle"></i>
        </div>
        <div class="search">

        </div>
    </div>


    <div class="divContainDArticle">
        <div class="divDetailArticles">
            <h2>Internet et reseau</h2>
            <img src="https://img.freepik.com/photos-gratuite/groupe-jeunes-creatifs-asiatiques-vetus-vetements-decontractes-intelligents-discutant-brainstorming-commercial_7861-3066.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph"
                alt="">

            <p><span>De nos jours, les acronymes sont si fréquents qu’on n’y prête plus guère attention. Pourtant, dans
                    le petit monde du testing, s’il est bien un acronyme qu’il faut connaître pour ne pas se tromper de
                    prestataire, c’est bien celui d’ ISTQB ® (pour « International Software Testing Qualifications
                    Board« ), tant il constitue un gage de qualité indispensable à la définition et à l’exécution des
                    campagnes de tests des sites et applications. Alors, de quoi parlons-nous quand on évoque la
                    certification ISTQB® ?</span></p>
            <h6>ISTQB® : UNE RECONNAISSANCE INTERNATIONALE</h6>
            <p>L’International Software Testing Qualifications Board® (ISTQB® ou, en français Comité international de
                qualification du test logiciel) est une garantie de compétences, de connaissances, de compréhension, de
                professionnalisme, d’indépendance et d’éthique. <br> </p>
            <p>L’International Software Testing Qualifications Board® (ISTQB® ou, en français Comité international de
                qualification du test logiciel) est une garantie de compétences, de connaissances, de compréhension, de
                professionnalisme, d’indépendance et d’éthique. <br> </p>
            <p> Article publié le 18 Octobre 2023 &nbsp; By Somebody</p>
        </div>
        <div class="comContain">
            <div class="divCommentaire">
                <div class="divcomment">
                    <div class="divimgComentateur">
                        <div class="avatar">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBCZLXZiEL2CH87LXotMRmMkKzXT-erzuDHg&usqp=CAU"
                                alt="">
                            <p> &nbsp; &nbsp; D. Seck</p>
                        </div>
                        <p>08/10/2023</p>
                    </div>
                    <div class="divComtext">
                        <p>
                            🌐 merci à vous 🔥🔥🔥🔥 Vous êtes CHOC!!!
                        </p>
                    </div>
                </div>
                <div class="divcomment">
                    <div class="divimgComentateur">
                        <div class="avatar">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOraZdPVTsJpFU6yCexzjf96dDwU8q2A5hZA&usqp=CAU"
                                alt="">
                            <p> &nbsp; &nbsp;Fall Bah</p>
                        </div>
                        <p>08/10/2023</p>
                    </div>
                    <div class="divComtext">
                        <p>Merci🥰🥰🥰🥰🥰 infiniment ! Nous apprécions vos contenus. <br>
                            Merci moi j'en ai besoin alors merci infiniment pour ce post 🙏🏻 En vous souhaite une belle
                            journée!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="divinputComenter">
                <h4>Laisser un commentaire</h4>
                <div class="profilBailleur border p-0">
                    <!-- <div class="rect rect1"></div> -->
                    <form class="commentform">
                        <div class="form-group mb-3">
                            <label class="label" for="email"></label>
                            <input type="text" class="form-control" placeholder="Nom" required name="email">
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="email"></label>
                            <input type="text" class="form-control" placeholder="Email" required name="email">
                        </div>
                        <div class="mb-4">
                            <label for="inputDescription" class="form-label fw-bold"></label>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="description" name="description"
                                    id="description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                class="form-control btn btn-primary rounded submit px-3 fw-bold ">Commenter</button>
                        </div>
                    </form>
                    <!-- <div class="rect rect2"></div> -->
                </div>

            </div>
        </div>
    </div>






</section>


<!-- footer -->
<app-footer></app-footer>