<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<section class="hero-section">
    <div class="img">
        <img src="https://img.freepik.com/photos-premium/deux-femmes-affaires-se-serrant-main-dans-hall-bureau-moderne_255667-13774.jpg?w=826" alt="hero image" width="100%" height="380vh"/>
    </div>
</section>

<section>
    <div class="m-auto mt-5" id="container">
        <div class="contain-apropos">
            <div class="card-left">
                <div class="titre d-flex">
                    <h3 class="fw-bold ">Qui sommes nous ?</h3>
                    <span class="tiret"></span>
                </div>
                <p class="slogan">
                    Trouvez, Investissez,<br> Réussissez avec Cila Book
                </p>
            </div>
            <div class="card-right">
                <p>
                    Cila Book est une plateforme novatrice dédiée à la rencontre harmonieuse entre les bailleurs de
                    fonds et les porteurs de
                    projets. Face au défi que représentent les aspirations financières des investisseurs en quête
                    d'opportunités
                    prometteuses et les ambitions des porteurs de projets nécessitant des ressources, Cila Book émerge
                    comme un facilitateur
                    incontournable.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- debut de la section objectif -->
<section style="background-color: #F6F6F6;" class="py-2 mb-5" >
    <div id="objectif-section">
        <div class="m-auto mt-5" id="container">
            <div class="contain-objectif">
                <div class="card-left">
                    <div class="titre d-flex">
                        <h3 class="fw-bold ">Notre objectif</h3>
                        <span class="tiret"></span>
                    </div>
                    <p class="paragraphe-objectif">
                        Notre principal objectif est de faciliter la réalisation de projets exceptionnels en connectant les
                        rêves aux
                        ressources, en offrant une plateforme conviviale et efficace pour les porteurs de projets et les
                        investisseurs.Cilabook
                        vise à devenir la principale destination en ligne où les créateurs, les entrepreneurs, les innovateurs
                        sociaux et les
                        investisseurs se rencontrent, collaborent et investissent pour transformer les idées en réalit
                    </p>
                    <div class="contain-icon-para">
                        <div class="col-first">
                            <div class="icone">
                                <i class="bi bi-clipboard-pulse"></i>
                            </div>
                            <p>Faciliter la rencontre entre investisseurs et porteurs de projet</p>
                        </div>
                        <div class="col-first">
                            <div class="icone">
                                <i class="bi bi-clipboard-pulse"></i>
                            </div>
                            <p>Faciliter la rencontre entre investisseurs et porteurs de projet</p>
                        </div>
                    </div>
                </div>
                <div class="card-right-objectif">
                    <div class="first-img">
                        <img src="https://img.freepik.com/photos-gratuite/portrait-jolie-femme-cubaine-presentant-informations-statistiques-son-patron-meconnaissable_1098-20618.jpg?w=826&t=st=1702112060~exp=1702112660~hmac=65bd21dcb3b781f9a8a39830fbb6e3963a91779332449ad6ed7602e2be7c86c3"
                            alt="" height="100%" width="100%">
                    </div>
                    <div class="second-img">
                        <img src="../../../assets/images/Rectangle 651.png" alt="" height="100%" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>

<!-- Debut de la section cible -->
<section class="mt-5">
    <div class="m-auto mt-5" id="container">
        <div class="contain-apropos">
            <div class="card-left">
                <div class="titre d-flex">
                    <h3 class="fw-bold ">Nos cibles</h3>
                    <span class="tiret"></span>
                </div>
                <p class="slogan-cible">
                    Cilabook rassemble deux groupes principaux d’utilisateurs : les porteurs de projets et les bailleurs de fonds. Les
                    porteurs de projets englobent les entrepreneurs, les startups et les initiatives à impact social ou environnemental en
                    quête de financements pour concrétiser leurs idées. Les bailleurs de fonds englobent les investisseurs providentiels,
                    les fonds de capital-risque et les institutions financières philanthropiques qui souhaitent soutenir ces projets
                </p>
            </div>
            <div class="card-right-cible">
                <div class="image-cible">
                    <img src="../../../assets/images/Rectangle 653.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Debut de la section partenaire -->
<section>
    <div class="contain-partenaire mt-4">
        <h3 class="text-center fw-bold ">Partenariats d'Impact : Les Forces Conjuguées de CilaaBook</h3>
        <div class="contain-card mb-5 mt-5">
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 27.png" alt="">
                <p>Simplon Senegal</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 29.png" alt="" style="width:65px;">
                <p>Federation de Wallonie-Bruxelle</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 30.png" alt="">
                <p>Francophonie</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>

        </div>
    </div>
</section>

<!-- newsletter -->
<div class="contain-newsletter mb-5">
    <h4 class="text-center text-white titre-news">Abonnez-vous à notre newsletter pour des infos <br> exclusives</h4>
    <div class="contain-input mt-5">
        <input type="text" placeholder="Entez votre adresse email">
        <button class="btn">S'inscrire</button>
    </div>
</div>

<!-- footer -->
<app-footer></app-footer>